# === Kubernetes ===
# Secrets 
k8s/base/secrets/
*.secret.yaml

# Virtual environments
.venv/
venv/
env/
ENV/

# Ignore dotenv files
.env

# Ignore Terraform build + state files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
